.floating-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #333;
  position: fixed;
  left: 50%;
  top: 50%;
  transform-style: preserve-3d; /* 创建3D图层 */
  transform: translate3d(-50%, -50%, 0);
  width: 300px;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .card-header {
    padding: 15px 20px;
    background: #eaeaea;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .header-title{
    display: flex;
    font-size: 28px;
    align-items: center; /* 垂直居中 */
  }
  .header-icon{
    margin: 2px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  .header-icon:hover{
    box-shadow: 0 0 2px 2px rgba(71,167,235,.86);
  }
  .card-container {
    padding: 20px;
  }
  .card-footer {
    padding: 10px 20px;
    background: #f7f7f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .card-button {
    background-color: #0084ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  .card-button:hover {
    background-color: #0056b3;
  }
  .card-button:active {
    background-color: #003380;
  }
  /* Add a little animation for card open/close */
@keyframes cardOpen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  @keyframes cardClose {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }

.card-open{
    animation: cardOpen 0.3s ease-in forwards;
}
